body{
    margin: 0;
    font-family: 'Spartan', sans-serif;
    background-color:hsl(180, 52%, 96%);
}

 .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
} 

.allJobs{
    display: grid;
    grid-template-columns: minmax(300px, auto);
    /* grid-template-rows: repeat(auto, minmax(auto, 600px)); */
    row-gap: 10px;
    overflow: scroll;
}

.header{
    width: 100vw;
    height: 22vh;
    background-color: hsl(180, 29%, 50%);
    margin-bottom: 40px;
}

.job {
    border-radius: 5px;
    border-left: solid 4px hsl(180, 29%, 50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 16px 30px;
    box-shadow: 2px 14px 28px -7px rgba(0,0,0,0.25);
}


/*ITEMS IN LISTING*/
.jobInfo {
    height: 165px;
}

.mainInfo {
    position: relative;
    bottom: 25px;
    padding-bottom: 20px;
    margin-left: 20px;
    border-bottom: solid 1px gray;
    width: 88%;
}

.photo {
    height: 55px;
    position: relative;
    bottom: 32px;
    left: 15px;
    margin: 0;
}

.company {
    display: inline-flex;
    color: hsl(180, 29%, 50%);
    font-weight: 700;
    font-size: 14px;
    margin-right: 10px;
}

.new {
    background-color: hsl(180, 29%, 50%);
    width: 54px;
    margin-right: 5px;
}
.featured {
    background-color: hsl(180, 14%, 20%);
    width: 87px;
}
.new, .featured{
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    height: 26px;
    padding-top: 3px;
    border-radius: 40px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.position {
    font-weight: bold;
}
.position:hover {
    color: hsl(180, 29%, 50%);
    cursor: pointer;
}

.extraInfo{
    color: gray;
}

.allFilters {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 92%;
}

.filter {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: hsl(180, 52%, 96%);
    color: hsl(180, 29%, 50%);
    font-weight: 700;
    padding: 4px 10px;
    margin: 5px 15px 8px 0;
    height: 33px;
    font-size: 14px;
}

.filter:hover {
    color: white;
    background-color: hsl(180, 29%, 50%);
    cursor: pointer;
}

/*ATTRIBUTION*/

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}